
<%- include ("partials/header") %>

<div style='margin-top: 3em;' class='container'>
  <table class="table table-hover">
    <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Title</th>
        <th scope="col">Status</th>
        <th scope="col">Pickup Username</th>
        <th scope="col">Pickup Date</th>
      </tr>
    </thead>
    <tbody>

      <% for (var x = 0; x < donations.length; x++) { %>
      <tr>
        <th scope="row"><%= x %></th>
        <td><%= donations[x].product %></td>
        <td><%= donations[x].status %></td>
        <% if (donations[x].pickup_username) { %>
          <td><%= donations[x].pickup_username %></td>
          <td><%= donations[x].pickup_date %></td>
        <% } else { %>
          <td>N/A</td>
          <td>N/A</td>
        <% } %>
      </tr>
      <% }; %>
    </tbody>
  </table>
</div>

  <%- include ("partials/footer") %>